<div class="container-fluid">

   <div class="row divisiones">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="txt-motivo-consulta" class="form-label label-formulario-user">Causa de Consulta</label>
                <textarea name="txt-motivo-consulta" rows="5" class="form-control"
                  formControlName="motivoConsulta"></textarea>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="txt-enfermedadActual" class="form-label label-formulario-user">Enfermedad Actual</label>
                <textarea name="txt-enfermedadActual" rows="3" class="form-control"
                  formControlName="motivoConsulta"></textarea>
              </div>
            </div>
          </div>

          
    </div>
  </div>

  
  <div class="row divisiones">
      <div class="col-md-12">
          
          <label for="txt-antecedentesF" class="form-label label-formulario-user">Antecedentes Familiares</label>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                
                  <div class="row">
                    <div class="col-md-6">
                        <label for="txt-antecedentesF" class="form-label label-formulario-user">Categorias</label>
                    </div>
                    <div class="col-md-6">
                        <label for="txt-otroAntecedente" class="form-label label-formulario-user">Otros</label>
                        <textarea name="txt-otroAntecedente" rows="3" class="form-control"
                        formControlName="motivoConsulta"></textarea>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
      </div>
    </div>

    <div class="row divisiones">
        <div class="col-md-12">
            
            <label for="txt-antecedentesF" class="form-label label-formulario-user">Antecedentes Personales</label>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-6">
                          <label for="txt-otroAntecedente" class="form-label label-formulario-user">Patológicos</label>
                          <textarea name="txt-otroAntecedente" rows="3" class="form-control"
                          formControlName="motivoConsulta"></textarea>
                      </div>
                      <div class="col-md-6">
                          <label for="txt-otroAntecedente" class="form-label label-formulario-user">Quirúrgicos</label>
                          <textarea name="txt-otroAntecedente" rows="3" class="form-control"
                          formControlName="motivoConsulta"></textarea>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="txt-otroAntecedente" class="form-label label-formulario-user">Traumáticos</label>
                            <textarea name="txt-otroAntecedente" rows="3" class="form-control"
                            formControlName="motivoConsulta"></textarea>
                        </div>
                        
                      </div>
                   
                  </div>
                </div>
              </div>
        </div>
      </div>  
</div>