<div ng-app="myApp" ng-controller="miController">
<div class="container-fluid">
 
    <div class="row divisiones">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="txt-motivo-consulta" class="form-label label-formulario-user">Causa de Consulta</label>
              <textarea name="txt-motivo-consulta" [(ngModel)]="causa" rows="5" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="txt-enfermedadActual" class="form-label label-formulario-user">Enfermedad Actual</label>
              <textarea name="txt-enfermedadActual" [(ngModel)]="enfermedad" rows="3" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <button (click)="guardarConsulta()">Siguiente</button>
    </div>
  


    <div class="row divisiones"  id="demo">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <label for="txt-antecedentesF" class="tituloDivision">Antecedentes Familiares</label>
            <div class="row">
              <div class="col-lg-12">
              
                  <mat-form-field class="w-100">
                    <mat-select placeholder="Antecedentes Familiares" [formControl]= "antecedentesFMultiCtrl" [multiple]="true" #multiSelect (selectionChange)="guardarAnteFMulti($event)">
                      <ngx-mat-select-search [showToggleAllCheckbox]="true" (toggleAll)="toggleSelectAll($event)" [formControl]="antecedentesFMultiFilterCtrl"></ngx-mat-select-search>
                      <mat-option  *ngFor="let AntecedenteF of filteredAntecedentesFMulti | async" [value]="AntecedenteF.id" >
                        {{AntecedenteF.nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="txt-otroAntecedente" class="form-label label-formulario-user">Otros</label>
                  <textarea [(ngModel)]="txtOtroAntecedente" rows="3" class="form-control"></textarea>
                </div>
              </div>
            </div>
          </div>
          <button (click)="guardarAntecedenteF()">Siguiente</button>
        </div>
      </div>
    </div>

  
    <div class="row divisiones">
      <div class="col-md-12">
        <label for="txt-antecedentesP" class="tituloDivision">Antecedentes Personales</label>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="txt-patologicos" class="form-label label-formulario-user">Patológicos</label>
              <textarea name="txtPatologicos" [(ngModel)]="txtAntePatologicos" rows="3" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="txt-quirurgicos" class="form-label label-formulario-user">Quirúrgicos</label>
              <textarea name="txtQuirurgicos" [(ngModel)]="txtAnteQuirurgicos" rows="3" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="txt-traumaticos" class="form-label label-formulario-user">Traumáticos</label>
              <textarea name="txtTraumaticos" [(ngModel)]="txtAnteTraumaticos" rows="3" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
      <button (click)="guardar()"></button>
     
    </div>
 

  <form [formGroup]="datos">
    <div class="row divisiones">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 ">
            <label for="" class="tituloDivision">Gineco - Obstetra</label>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="" class="form-label label-formulario-user">Menarquía</label>
                <input type="text" class="form-control" formControlName="menarquia"
                  [class.is-invalid]="datos.get('menarquia').errors && datos.get('menarquia').touched">
                <div class="invalid-feedback" *ngIf="datos.get('menarquia').errors && datos.get('menarquia').touched">
                  <p *ngIf="datos.get('menarquia').hasError('pattern')">Esta campo solo acepta letras.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="" class="form-label label-formulario-user">Gravidez</label>
                <input type="text" class="form-control" formControlName="gravidez"
                  [class.is-invalid]="datos.get('gravidez').errors && datos.get('gravidez').touched">
                <div class="invalid-feedback" *ngIf="datos.get('gravidez').errors && datos.get('gravidez').touched">
                  <p *ngIf="datos.get('gravidez').hasError('pattern')">Esta campo solo acepta letras.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="" class="form-label label-formulario-user">Partos</label>
                <input type="text" class="form-control" formControlName="partos"
                  [class.is-invalid]="datos.get('partos').errors && datos.get('partos').touched">
                <div class="invalid-feedback" *ngIf="datos.get('partos').errors && datos.get('partos').touched">
                  <p *ngIf="datos.get('partos').hasError('pattern')">Esta campo solo acepta letras.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="" class="form-label label-formulario-user">Abortos</label>
                <input type="text" class="form-control" formControlName="abortos"
                  [class.is-invalid]="datos.get('abortos').errors && datos.get('abortos').touched">
                <div class="invalid-feedback" *ngIf="datos.get('abortos').errors && datos.get('abortos').touched">
                  <p *ngIf="datos.get('abortos').hasError('pattern')">Esta campo solo acepta letras.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="" class="form-label label-formulario-user">Hijos Vivos</label>
                <input type="text" class="form-control" formControlName="hijosVivos"
                  [class.is-invalid]="datos.get('hijosVivos').errors && datos.get('hijosVivos').touched">
                <div class="invalid-feedback" *ngIf="datos.get('hijosVivos').errors && datos.get('hijosVivos').touched">
                  <p *ngIf="datos.get('hijosVivos').hasError('pattern')">Esta campo solo acepta letras.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="" class="form-label label-formulario-user">Planficación</label>
                <input type="text" class="form-control" formControlName="planificacion"
                  [class.is-invalid]="datos.get('planificacion').errors && datos.get('planificacion').touched">
                <div class="invalid-feedback"
                  *ngIf="datos.get('planificacion').errors && datos.get('planificacion').touched">
                  <p *ngIf="datos.get('planificacion').hasError('pattern')">Esta campo solo acepta letras.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button (click)="guardarGineco()">Siguiente</button>
    </div>
  </form>


  <form>
    <div class="row divisiones">
      <div class="col-md-12 ">
        <label for="" class="tituloDivision">Hábitos y Factores de Riesgo</label>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <mat-form-field class="w-100">
                <mat-select placeholder="Hábitos y Factores de Riesgo" multiple
                  (selectionChange)="agruparHabitos($event)">
                  <mat-option *ngFor="let hr of listaHabitos" [value]="hr.hyfr.nombre">
                    {{hr.hyfr.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="txt-otroHabitoRiesgo" class="form-label label-formulario-user">Otros</label>
              <textarea name="txt-otroHabitoRiesgo" rows="3" class="form-control"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row divisiones">
    <label for="" class="tituloDivision">Revisión por Sistemas</label>
    <div class="col-md-12" *ngFor="let s of sistema; let i = index">

      <div class="row">
        <div class="col-md-3">
          <div class="form-check">
            <mat-checkbox (change)="checkRevisionSistema($event, s.nombre)" [disabled]="disableCardio">{{s.nombre}}
            </mat-checkbox>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="w-100" *ngIf="s.variable">
                <textarea matInput placeholder="Hallazgos" [id]="'sistema' + i" minlength="40" required></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row divisiones">
    <label for="" class="tituloDivision">Examen Físico</label>


    <div class="col-md-12">
      <label for="" class="form-label label-formulario-user">Apariencia General</label>
      <textarea name="txt-AparienciaGeneral" rows="3" class="form-control"></textarea>
    </div>

    <form [formGroup]="datos">

      <div class="row" style="padding: 30px;">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label label-formulario-user">Frecuencia cardiaca</label>
              <input type="text" class="form-control" formControlName="frecuenciaCardiaca"
                [class.is-invalid]="datos.get('frecuenciaCardiaca').errors && datos.get('frecuenciaCardiaca').touched">
              <div class="invalid-feedback"
                *ngIf="datos.get('frecuenciaCardiaca').errors && datos.get('frecuenciaCardiaca').touched">
                <p *ngIf="datos.get('frecuenciaCardiaca').hasError('pattern')">Esta campo solo acepta letras.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label label-formulario-user">Temperatura (Si es pertinente)</label>
              <input type="text" class="form-control" formControlName="temperatura"
                [class.is-invalid]="datos.get('temperatura').errors && datos.get('temperatura').touched">
              <div class="invalid-feedback" *ngIf="datos.get('temperatura').errors && datos.get('temperatura').touched">
                <p *ngIf="datos.get('temperatura').hasError('pattern')">Esta campo solo acepta letras.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label label-formulario-user">Frecuencia Respiratoria</label>
              <input type="text" class="form-control" formControlName="frecuenciaRespiratoria"
                [class.is-invalid]="datos.get('frecuenciaRespiratoria').errors && datos.get('frecuenciaRespiratoria').touched">
              <div class="invalid-feedback"
                *ngIf="datos.get('frecuenciaRespiratoria').errors && datos.get('frecuenciaRespiratoria').touched">
                <p *ngIf="datos.get('frecuenciaRespiratoria').hasError('pattern')">Esta campo solo acepta letras.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label label-formulario-user">Talla(cm)</label>
              <input type="text" class="form-control" formControlName="talla"
                [class.is-invalid]="datos.get('talla').errors && datos.get('talla').touched">
              <div class="invalid-feedback" *ngIf="datos.get('talla').errors && datos.get('talla').touched">
                <p *ngIf="datos.get('talla').hasError('pattern')">Esta campo solo acepta letras.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label label-formulario-user">Presión Arterial</label>
              <input type="text" class="form-control" formControlName="presion"
                [class.is-invalid]="datos.get('presion').errors && datos.get('presion').touched">
              <div class="invalid-feedback" *ngIf="datos.get('presion').errors && datos.get('presion').touched">
                <p *ngIf="datos.get('presion').hasError('pattern')">Esta campo solo acepta letras.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="" class="form-label label-formulario-user">Peso (kg)</label>
              <input type="text" class="form-control" formControlName="peso"
                [class.is-invalid]="datos.get('peso').errors && datos.get('peso').touched">
              <div class="invalid-feedback" *ngIf="datos.get('peso').errors && datos.get('peso').touched">
                <p *ngIf="datos.get('peso').hasError('pattern')">Esta campo solo acepta letras.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="col-md-12" *ngFor="let e of examen; let i = index">

      <div class="row">
        <div class="col-md-3">
          <div class="form-check">
            <mat-checkbox (change)="checkExamenMedico($event, e.nombre)" [disabled]="disableCardio">{{e.nombre}}
            </mat-checkbox>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field class="w-100" *ngIf="e.variable">
                <textarea matInput placeholder="Hallazgos" [id]="'examen' + i" minlength="40" required></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row divisiones">
    <label for="" class="tituloDivision">Impresión Diagnostica</label>

    <div class="col-md-12">
      <div class="col-md-12">
        <!-- <ul class="list-group">
          <li *ngFor="let di of listaDiagnosticos" class="list-group-item list-group-item-action">
            <span class="badge badge-primary">{{di.diag.id}}</span>
            {{di.diag.descripcion}} - {{di.diag.codigo}}
            
          </li>
        </ul> -->
        <!-- <div class="card mt-4">
          <div class="card-body">
            <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                  <label for="" class="form-label label-formulario-user">Descripción</label>
                <input type="text" class="form-control" [(ngModel)]="descripcionDiag">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                  <label for="" class="form-label label-formulario-user">Código</label>
                <input type="text" class="form-control" [(ngModel)]="codDiag">
              </div>
            </div>
          </div>
           
            
            
          </div>
        </div> -->
        
      <div class="form-group">
        <label for="datoDiagnostico" class="form-label label-formulario-user">Dato Diagnostico</label>
        <input class="form-control" ng-change="prueba($event)" type="text">
      </div>

      <mat-form-field class="w-100">
        <mat-select placeholder="Antecedentes Familiares" [formControl]= "antecedentesFMultiCtrl" [multiple]="true" #multiSelect (selectionChange)="guardarAnteFMulti($event)">
          <ngx-mat-select-search [formControl]="antecedentesFMultiFilterCtrl"></ngx-mat-select-search>
          <mat-option  *ngFor="let AntecedenteF of filteredAntecedentesFMulti | async" [value]="AntecedenteF.id" >
            {{AntecedenteF.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <select name="" id="" class="form-control">
          <option *ngFor="let d of impdiagnostica" value="{{d.id_impresiondiag}}">{{d.nombre}}</option>
        </select>
      </div>
  
    </div>
    <!-- <div class="col-md-12" style="display: block;">
        <button class="btn btn-primary ng-star-inserted" (click)="guardarDiagnostico()">Guardar</button>
    </div> -->
     
  </div>


  <form [formGroup]="datos">
      <div class="row divisiones">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 ">
              <label for="" class="tituloDivision">Final Consulta</label>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="" class="form-label label-formulario-user">Control</label>
                  <input type="text" class="form-control" formControlName="control"
                    [class.is-invalid]="datos.get('control').errors && datos.get('control').touched">
                  <div class="invalid-feedback" *ngIf="datos.get('control').errors && datos.get('control').touched">
                    <p *ngIf="datos.get('control').hasError('pattern')">Esta campo solo acepta letras.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="" class="form-label label-formulario-user">Incapacidad</label>
                  <div class="">
                    <mat-checkbox>Si</mat-checkbox>
                    <mat-checkbox>No</mat-checkbox>
                  </div>
                 
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="" class="form-label label-formulario-user">Dias</label>
                  <input type="text" class="form-control" formControlName="dias"
                    [class.is-invalid]="datos.get('dias').errors && datos.get('dias').touched">
                  <div class="invalid-feedback" *ngIf="datos.get('dias').errors && datos.get('dias').touched">
                    <p *ngIf="datos.get('dias').hasError('pattern')">Esta campo solo acepta letras.</p>
                  </div>
                </div>
              </div>
            </div>
         
          </div>
        </div>
      </div>
    </form>


</div>
</div>


<script>
// $scope.mostrar = false;

// $scope.siguiente = function(){
//   $scope.mostrar = true;
//   console.log($scope.mostrar)
// }

$(document).ready(function(){
  $("#hide").click(function(){
    console.log("entra");
    $("demo").hide();
  });
  $("#show").click(function(){
    $("demo").show();
  });
})

</script>


